{% extends "routml_app/layout.html" %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <form class="new-url-form" action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <label for="url-input"><a href="/"><strong>rout.ml</strong></a> is a URL shortening service.</label>
            <input id="url-input" class="url-input" type="url" name="u" placeholder="Paste your original URL here ..." required>
            <input class="url-submit-btn" type="submit" value="Make it Short!">
        </form>
        <br>
        <br>
        <br>
        <p><a href="https://github.com/routml" target="_blank">Github</a></p>
    </div>
{% endblock %}
